/*  FONT IMPORT  */
@font-face {
    font-family: 'Amsterdam';
    src: url("../fonts/Amsterdam.ttf")format("truetype");
}

/* THE MENU BAR */
.menu, .menu-item, .menu-bar, .context-menu {
    -fx-background-color: #ffa3e8;
}

/* THE ALERT PANES */
.dialog-pane{
    -fx-border-color: black;
    -fx-border-width:3.0px;
}

.dialog-pane > .button-bar > .container {
    -fx-background-color:#ffa3e8;
}

.dialog-pane > .content.label {
    -fx-background-color: #ffa3e8;
    -fx-text-fill:black;
    -fx-font-size:15.0px;
}

.dialog-pane .header-panel {
    -fx-background-color: #ff6fea;
}

.dialog-pane .header-panel .label{
    -fx-background-color: #ff6fea;
    -fx-text-fill:black;
    -fx-font-size:15.0px;
}

.dialog-pane .button{
    -fx-padding: 8 15 15 15;
    -fx-background-radius: 10; /* Radius of the button itself */
    -fx-background-color: radial-gradient(radius 100%, #d61a8b, #ca0f77); /* Top part color */
    -fx-border-radius: 8;

    -fx-border-color: black;
    -fx-border-width: 3.0px;

    -fx-text-fill: linear-gradient(black, black);
    -fx-font-size: 14px;
}

.dialog-pane .button:hover{
    -fx-background-color: #ff68df;
    -fx-text-fill:black;
    -fx-font-weight:bold;
}

/*
    Inset values are in order:
        top, right, bottom, left
 */

/*  TITLE LABEL  */
#title-label{
    -fx-font-family: "Amsterdam";
    -fx-effect: dropshadow( gaussian , rgb(0, 0, 0), 10,0.4,2,8 );
    -fx-text-fill: linear-gradient(/*#e4b8de*/ #ff12a6, #ffa3e8, #ff12a6, white, #ff12a6);
    -fx-font-size: 55px;
}

/*  INFO LABEL  */
#info-label{
    -fx-font-family: "Amsterdam";
    -fx-effect: dropshadow( gaussian , rgba(41, 41, 41, 0.75), 10,0,0,2 );
    -fx-text-fill: linear-gradient(black, #292929);
    -fx-font-size: 14px;
}

/*  LEVEL BUTTON  */
#level-button {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8; /* Radius of the button itself */
    -fx-background-color:
        linear-gradient(#a6206b, #851e5b), /* Bottom part color */
        radial-gradient(radius 100%, #d61a8b, #ca147c); /* Top part color */
    -fx-text-fill: linear-gradient(black, black);
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}
#level-button:hover {
    -fx-background-color:
            linear-gradient(#c3267e, #b42a7b), /* Bottom part color */
            radial-gradient(radius 100%, #ff10a8, #ed37a2); /* Top part color */
}
#level-button:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0, 2 0 3 0, 2 0 4 0, 2 0 5 0;
}


/*  OPTION BUTTON  */
#option-button {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(#a6206b, #851e5b), /* Bottom part color */
            radial-gradient(radius 100%, #d61a8b, #ca147c); /* Top part color */
    -fx-text-fill: linear-gradient(black, black);
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}
#option-button:hover {
    -fx-background-color:
            linear-gradient(#c3267e, #b42a7b), /* Bottom part color */
            radial-gradient(radius 100%, #ff10a8, #ed37a2); /* Top part color */
}
#option-button:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
